table { 
	border-collapse: collapse; 
	border: 1px solid #CCB;
}

table tr {
	border-bottom: 1px solid #DDD;
}

table th {
	background: #E5E5E5;
	border: 1px solid #D5D5D5;
	color: #555;
	text-align: left;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: nowrap; 
}

table td {
	padding: 5px;
	border: 1px solid #E0E0E0;
}


/* http://embed.plnkr.co/P1FYFl/preview */
.modal-info {
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#d9edf7), to(#b9def0));
        background-image: -webkit-linear-gradient(#d9edf7 0%, #b9def0 100%);
        background-image: -moz-linear-gradient(#d9edf7 0%, #b9def0 100%);
        background-image: -o-linear-gradient(#d9edf7 0%, #b9def0 100%);
        background-image: linear-gradient(#d9edf7 0%, #b9def0 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
        border-color: #9acfea;
        border-radius: 6px 6px 0 0;
}

/* https://stackoverflow.com/questions/19158259/bootstrap-3-collapse-can-have-multiple-panels-open-after-programmatically-openin/19158601#19158601 */
/* http://jsfiddle.net/KyleMit/f8ypa/ */
.panel-clickable:hover, .clickable {
     cursor: pointer !important;
}


.page-header { border-bottom:none; }
